p{
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
.resultado{
	background-repeat: no-repeat;
	width: 110px;
	height: 48px;
}
.descripcion{
	width: 200px; 
	padding-top:15dpi;
	padding-left: 120px;
	/*background-color: red;*/
}
.aprobado{
 
	background-image: url('./img/aprobado.png');
 
}
.recomendaciones{
	 
	background-image: url('./img/recomendaciones.png');
 
}
.noaprobado{
	
	background-image: url('./img/noaprobado.png');

}
.porcentaje{
	text-align: center;
	padding:15px;
	width: 50px
}
.container{
	font-family:  arial;
	font-size: 16;
	letter-spacing: 1px;
}
.upper {
 	text-transform: uppercase;
 }
 
.margin-top-30{
	margin-top: 30dpi;
}
.margin-top-15{
	margin-top: 15dpi;
}
.margin-left-20{
	margin-left: 20;
}
.padding-top-5{
	padding-top: 5dpi;
}
.padding-left-5{
	padding-left: 20px;
}
.underline{
	text-decoration:  underline;
}
.bold{
	  font-weight: bold;
}
.floatL{
	float: left;
}
.Width40{
	width: 40%;
	 

}
.Width25{
	width: 25%;
}
.Width20{
	width: 20%;
}
